# 실무예제 4-1
## 다음은 2015년 국내대학현황이다. 데이터큐브 집계를 이용하여 학제별/지역별/설립별로 재학생수 합계로 데이터를 축소시키시오.
### 데이터 파일 : ch4-1(국내대학현황).csv
### 원본 투플수 : 1,930개

In [1]:
# ch4-1.py
import pandas as pd
import numpy as np
import cx_Oracle      # Oracle DB 연동을 위한 cx_Oracle 패키지 임포트

# 데이터로드 (ch4-1.csv : 데이터 원본 파일)
# encoding : 윈도우즈 환경에서의 한글 처리
# engine : python 3.6에서 한글이 포함된 파일이름 사용
rawData = pd.read_csv('.jupyter/ch4-1(국내대학현황).csv', encoding='CP949', engine='python')

In [2]:
rawData

           학제                  학교명  지역     설립   재적학생수    재학생수   휴학생수  총장및전임교원수
0        전문대학               한국철도대학  경기     국립   180.0   134.0   46.0       NaN
1        전문대학               강원도립대학  강원     공립  1658.0   900.0  758.0      31.0
2        전문대학             경남도립거창대학  경남     공립  1614.0   955.0  659.0      31.0
3        전문대학             경남도립남해대학  경남     공립  1639.0   846.0  793.0      25.0
4        전문대학              경북도립대학교  경북     공립  1389.0   930.0  459.0      32.0
...       ...                  ...  ..    ...     ...     ...    ...       ...
1925  대학부설대학원        한국과학기술원 일반대학원  대전  특별법법인  6962.0  6648.0  314.0     120.0
1926  대학부설대학원        광주과학기술원 일반대학원  광주  특별법법인  1167.0  1144.0   23.0     131.0
1927  대학부설대학원      대구경북과학기술원 일반대학원  대구  특별법법인   321.0   314.0    7.0      51.0
1928  대학부설대학원      한국전통문화대학교 일반대학원  충남  특별법국립    35.0    34.0    1.0       NaN
1929  대학부설대학원  한국전통문화대학교 문화유산융합대학원  충남  특별법국립    76.0    70.0    6.0       5.0

[1930 rows x 8 columns]

In [3]:
# Oracle DB 연결
# 접속정보(connection string) : ID/PASS@CONNECTION_ALIAS
# CONNECTION_ALIAS : Oracle TNSNAMES.ORA 파일에 있는 접속정보 별칭(ALIAS)
# conn_ora = cx_Oracle.connect("prep1/prep1@XE")

conn_ora = cx_Oracle.connect("prep1/prep1@localhost:1521/xe")

# DB 커서(Cursor) 선언
cur = conn_ora.cursor()

# 사용할 Oracle 소스 테이블명 지정
src_table = "d_base4_1"

# 데이터프레임(rawData)에 저장된 데이터를 Oracle 테이블(d_base4_1)에 입력하기 위한 로직
# d_base4_1 테이블 존재하는지 체크하는 함수
def table_exists(name=None, con=None):
    sql = "select table_name from user_tables where table_name='MYTABLE'".replace('MYTABLE', name.upper())
    df = pd.read_sql(sql, con)

    # 테이블이 존재하면 True, 그렇지 않으면 False 반환
    exists = True if len(df) > 0 else False
    return exists

# 테이블(d_base4_1) 생성 (테이블이 이미 존재한다면 TRUNCATE TABLE)
if table_exists(src_table, conn_ora):
    cur.execute("TRUNCATE TABLE " + src_table)
else:
    cur.execute("create table " + src_table + " ( \
               학제 varchar2(40), \
               학교명 varchar2(100), \
               지역 varchar2(10), \
               설립 varchar2(20), \
               재적학생수 number(8), \
               재학생수 number(8), \
               휴학생수 number(8), \
               총장및전임교원수 number(8))")

# Sequence 구조를 Dictionary 구조((element, value))로 변환하는 함수
# 예: ("Matt", 1) -> {'1':'Matt', '2':1}
# INSERT INTO ... VALUES (:1, :2, ...) 에서 바인드 변수값을 주기위해 Dictionary item 구조 사용
def convertSequenceToDict(list):
    dict = {}
    argList = range(1, len(list) + 1)
    for k, v in zip(argList, list):
        if pd.isnull(v):
            dict[str(k)] = -1 # list 요소 값이 NULL이면 -1로 assign
        else:
            dict[str(k)] = v
    return dict

# 데이터프레임에 저장된 데이터를 Oracle 테이블로 입력(insert)
cols = [k for k in rawData.dtypes.index]
colnames = ','.join(cols)
colpos = ', '.join([':' + str(i + 1) for i, f in enumerate(cols)])
insert_sql = 'INSERT INTO %s (%s) VALUES (%s)' % (src_table, colnames, colpos)

# INSERT INTO ... VALUES (:1, :2, ...)의 바인드 변수 값을 저장하는 Dictionary 구조 생성
data = [convertSequenceToDict(rec) for rec in rawData.values]

# 바인드 변수와 Dictionary 데이터구조를 활용하여 Bulk Insertion 구현
cur.executemany(insert_sql, data)

# 컬럼값이 -1이면, NULL값으로 업데이트
cur.execute("update " + src_table +
           " set 재적학생수 = decode(재적학생수,-1,NULL,재적학생수) \
             , 재학생수 = decode(재학생수,-1,NULL,재학생수) \
             , 휴학생수 = decode(휴학생수,-1,NULL,휴학생수) \
             , 총장및전임교원수 = decode(총장및전임교원수,-1,NULL,총장및전임교원수) \
           where 재적학생수 = -1 OR 재학생수 = -1 OR 휴학생수 = -1 OR 총장및전임교원수 = -1")

# csv 파일 데이터의 Oracle 테이블 입력 완료 
conn_ora.commit()

### 실무예제 2-2 / 3-2의 Oracle 연동 설명 참조
### Oracle sqlplus를 통해서 d_base4_1 테이블 생성 확인
### ‘’ 또는 ‘NULL’은 모두 string으로 인식되면서 cur.executemany() 함수에서 TypeError를 일으킴. 이를 해결하기 위해
#### csv 파일에서 숫자형식 속성값이 NULL이면, -1(도저히 있을 수 없는 속성값 중 하나)로 치환
#### 추후 SQL Update문을 이용하여 –1값은 NULL로 다시 업데이터하는 방법을 사용함
### decode(a, b, c, d) : if a = b then c else d

In [6]:
# cube(), grouping() 함수를 이용한 데이터큐브 뷰(view) 생성
cur.execute("create or replace view v_base4_1 \
           as \
           select decode(grouping(지역), 1, '총계', 지역) 지역 \
                , decode(grouping(학제), 1, '총계', 학제) 학제 \
                , decode(grouping(설립), 1, '총계', 설립) 설립 \
                , sum(재학생수) 재학생수 \
           from " + src_table +
           " group by cube(지역, 학제, 설립)")

### 오라클의 cube() 함수를 이용하여 데이터큐브를 뷰(view)로 생성
#### grouping(A) : 속성 A가 집계된 결과이면 1을, 그렇지 않으면 0을 돌려주는 오라클 함수
#### 학제, 지역, 설립 등 3가지 속성에 대한 3차원 큐브로서 총 8가지의 집계 레벨이 도출됨
### 데이터큐브 뷰에 대하여 where 조건을 명시함으로서 8가지의 각기 다른 차원의 집계 데이터를 얻을 수 있음

In [7]:
# (1) 지역/학제/설립 별 재학생수
result_df = pd.read_sql("select 지역, 학제, 설립, 재학생수 \
                     from v_base4_1 \
                     where 지역 <> '총계' and 학제 <> '총계' and 설립 <> '총계'", con=conn_ora)
print("(1) 지역/학제/설립 별 재학생수")
result_df  # 결과보기

(1) 지역/학제/설립 별 재학생수

     지역         학제     설립      재학생수
0    강원        대학교     국립   30273.0
1    강원        대학교     사립   44387.0
2    강원       교육대학     국립    1395.0
3    강원       기능대학     사립     488.0
4    강원       전문대학     공립     900.0
5    강원       전문대학     사립   14136.0
6    강원    대학부설대학원     국립    3968.0
7    강원    대학부설대학원     사립    2070.0
8    강원    대학부설대학원  국립대법인      16.0
9    경기        대학교     국립    3901.0
10   경기        대학교     사립  170483.0
11   경기       교육대학     국립    1303.0
12   경기       기능대학     사립    2002.0
13   경기       산업대학     국립    2203.0
14   경기       산업대학     사립    2778.0
15   경기       전문대학     국립     670.0
16   경기       전문대학     사립  141049.0
17   경기      대학원대학     사립    1594.0
18   경기      대학원대학  특별법법인     321.0
19   경기   각종대학(전문)     사립       9.0
20   경기   사내대학(대학)     사립      90.0
21   경기   원격대학(전문)     사립    2009.0
22   경기    대학부설대학원     국립     402.0
23   경기    대학부설대학원     사립   25765.0
24   경기  사이버대학(대학)     사립    2384.0
25   경남        대학교     국립   28733.0
26   경남        대학교     사립   33615.0
27   경남       교육대학     국립    1361.0
28   경남       기능대학     사립    2047.0
29   경남       산업대학     국립     942.0
..   ..        ...    ...       ...
153  전북    대학부설대학원     사립    3879.0
154  전북  사이버대학(대학)     사립    4007.0
155  제주        대학교     국립   10553.0
156  제주        대학교     사립    1199.0
157  제주       전문대학     사립    7585.0
158  제주    대학부설대학원     국립    1934.0
159  제주    대학부설대학원     사립     171.0
160  충남        대학교     국립   14595.0
161  충남        대학교     사립  106159.0
162  충남        대학교  특별법국립     569.0
163  충남       교육대학     국립    1524.0
164  충남       기능대학     사립    1205.0
165  충남       산업대학     사립    9487.0
166  충남       전문대학     공립    1121.0
167  충남       전문대학     사립   15709.0
168  충남      대학원대학     사립     233.0
169  충남    대학부설대학원     국립    3277.0
170  충남    대학부설대학원     사립    7425.0
171  충남    대학부설대학원  특별법국립     104.0
172  충남  사이버대학(대학)     사립    2222.0
173  충북        대학교     국립   26114.0
174  충북        대학교     사립   48531.0
175  충북       교육대학     국립    1255.0
176  충북       기능대학     사립     766.0
177  충북       산업대학     국립     528.0
178  충북       전문대학     공립    1028.0
179  충북       전문대학     사립   14868.0
180  충북   각종대학(대학)     사립     300.0
181  충북    대학부설대학원     국립    7728.0
182  충북    대학부설대학원     사립    1824.0

[183 rows x 4 columns]

In [8]:
# (2) 지역/학제 별 재학생수(설립 집계 레벨)
result_df = pd.read_sql("select 지역, 학제, 재학생수 \
                     from v_base4_1 \
                     where 지역 <> '총계' and 학제 <> '총계' and 설립 = '총계'", con=conn_ora)
print("(2) 지역/학제 별 재학생수(설립 집계 레벨)")
result_df  # 결과보기

(2) 지역/학제 별 재학생수(설립 집계 레벨)

     지역         학제      재학생수
0    강원        대학교   74660.0
1    강원       교육대학    1395.0
2    강원       기능대학     488.0
3    강원       전문대학   15036.0
4    강원    대학부설대학원    6054.0
5    경기        대학교  174384.0
6    경기       교육대학    1303.0
7    경기       기능대학    2002.0
8    경기       산업대학    4981.0
9    경기       전문대학  141719.0
10   경기      대학원대학    1915.0
11   경기   각종대학(전문)       9.0
12   경기   사내대학(대학)      90.0
13   경기   원격대학(전문)    2009.0
14   경기    대학부설대학원   26167.0
15   경기  사이버대학(대학)    2384.0
16   경남        대학교   62348.0
17   경남       교육대학    1361.0
18   경남       기능대학    2047.0
19   경남       산업대학     961.0
20   경남       전문대학   22221.0
21   경남   사내대학(전문)     106.0
22   경남    대학부설대학원    8909.0
23   경북        대학교  118461.0
24   경북       기능대학     655.0
25   경북       산업대학    1359.0
26   경북       전문대학   33850.0
27   경북      대학원대학      76.0
28   경북   사내대학(전문)      55.0
29   경북   원격대학(대학)     850.0
..   ..        ...       ...
93   전남       산업대학     596.0
94   전남       전문대학   21176.0
95   전남   사내대학(전문)      40.0
96   전남    대학부설대학원    3038.0
97   전북        대학교   66810.0
98   전북       교육대학    1210.0
99   전북       기능대학     654.0
100  전북       산업대학    5855.0
101  전북       전문대학   19339.0
102  전북      대학원대학      48.0
103  전북    대학부설대학원    9125.0
104  전북  사이버대학(대학)    4007.0
105  제주        대학교   11752.0
106  제주       전문대학    7585.0
107  제주    대학부설대학원    2105.0
108  충남        대학교  121323.0
109  충남       교육대학    1524.0
110  충남       기능대학    1205.0
111  충남       산업대학    9487.0
112  충남       전문대학   16830.0
113  충남      대학원대학     233.0
114  충남    대학부설대학원   10806.0
115  충남  사이버대학(대학)    2222.0
116  충북        대학교   74645.0
117  충북       교육대학    1255.0
118  충북       기능대학     766.0
119  충북       산업대학     528.0
120  충북       전문대학   15896.0
121  충북   각종대학(대학)     300.0
122  충북    대학부설대학원    9552.0

[123 rows x 3 columns]

In [9]:
# (3) 학제/설립 별 재학생수(지역 집계 레벨)
result_df = pd.read_sql("select 학제, 설립, 재학생수 \
                     from v_base4_1 \
                     where 지역 = '총계' and 학제 <> '총계' and 설립 <> '총계'", con=conn_ora)
print("(3) 학제/설립 별 재학생수(지역 집계 레벨)")
result_df  # 결과보기

(3) 학제/설립 별 재학생수(지역 집계 레벨)

           학제     설립     재학생수
0         대학교     공립     9516
1         대학교     국립   299708
2         대학교     사립  1173614
3         대학교  국립대법인    32550
4         대학교  특별법국립      569
5         대학교  특별법법인     4893
6        교육대학     국립    15525
7        기능대학     사립    17981
8        기술대학     사립      112
9        산업대학     국립    10236
10       산업대학     사립    20108
11       전공대학     사립     8562
12       전문대학     공립     7243
13       전문대학     국립     1853
14       전문대학     사립   459494
15      대학원대학     기타     1076
16      대학원대학     사립     6684
17      대학원대학  특별법법인      321
18     방송통신대학     국립   134469
19   각종대학(대학)     사립      310
20   각종대학(대학)  특별법국립     2652
21   각종대학(전문)     사립        9
22   사내대학(대학)     사립      257
23   사내대학(전문)     사립      371
24   원격대학(대학)     사립      850
25   원격대학(전문)     사립     2009
26    대학부설대학원     공립     2679
27    대학부설대학원     국립    70804
28    대학부설대학원     사립   184800
29    대학부설대학원  국립대법인    14301
30    대학부설대학원  특별법국립      104
31    대학부설대학원  특별법법인     8106
32  사이버대학(대학)     사립    94658
33  사이버대학(전문)     사립     5128

In [10]:
# (4) 지역/설립 별 재학생수(학제 집계 레벨)
result_df = pd.read_sql("select 지역, 설립, 재학생수 \
                     from v_base4_1 \
                     where 지역 <> '총계' and 학제 = '총계' and 설립 <> '총계'", con=conn_ora)
print("(4) 지역/설립 별 재학생수(학제 집계 레벨)")
result_df  # 결과보기

(4) 지역/설립 별 재학생수(학제 집계 레벨)

    지역     설립      재학생수
0   강원     공립     900.0
1   강원     국립   35636.0
2   강원     사립   61081.0
3   강원  국립대법인      16.0
4   경기     국립    8479.0
5   경기     사립  348163.0
6   경기  특별법법인     321.0
7   경남     공립    1801.0
8   경남     국립   37082.0
9   경남     사립   59070.0
10  경북     공립     930.0
11  경북     국립   14984.0
12  경북     사립  156941.0
13  광주     국립   24862.0
14  광주     사립   69635.0
15  광주  특별법법인    1711.0
16  대구     국립   33402.0
17  대구     사립   68148.0
18  대구  특별법법인     672.0
19  대전     국립   33300.0
20  대전     기타    1076.0
21  대전     사립   86035.0
22  대전  특별법법인   10616.0
23  부산     국립   60001.0
24  부산     사립  146553.0
25  서울     공립   12195.0
26  서울     국립  155151.0
27  서울     사립  570294.0
28  서울  국립대법인   28474.0
29  서울  특별법국립    2652.0
30  세종     사립   18631.0
31  울산     사립   23690.0
32  울산  국립대법인    4123.0
33  인천     공립       NaN
34  인천     국립    2971.0
35  인천     사립   41080.0
36  인천  국립대법인   14238.0
37  전남     공립    1463.0
38  전남     국립   23654.0
39  전남     사립   36459.0
40  전북     국립   35565.0
41  전북     사립   71483.0
42  제주     국립   12487.0
43  제주     사립    8955.0
44  충남     공립    1121.0
45  충남     국립   19396.0
46  충남     사립  142440.0
47  충남  특별법국립     673.0
48  충북     공립    1028.0
49  충북     국립   35625.0
50  충북     사립   66289.0

In [11]:
# (5) 지역 별 재학생수(학제/설립 집계 레벨)
result_df = pd.read_sql("select 지역, 재학생수 \
                     from v_base4_1 \
                     where 지역 <> '총계' and 학제 = '총계' and 설립 = '총계'", con=conn_ora)
print("(5) 지역 별 재학생수(학제/설립 집계 레벨)")
result_df # 결과보기

(5) 지역 별 재학생수(학제/설립 집계 레벨)

    지역    재학생수
0   강원   97633
1   경기  356963
2   경남   97953
3   경북  172855
4   광주   96208
5   대구  102222
6   대전  131027
7   부산  206554
8   서울  768766
9   세종   18631
10  울산   27813
11  인천   58289
12  전남   61576
13  전북  107048
14  제주   21442
15  충남  163630
16  충북  102942

In [12]:
# (6) 학제 별 재학생수(지역/설립 집계 레벨)
result_df = pd.read_sql("select 학제, 재학생수 \
                     from v_base4_1 \
                     where 지역 = '총계' and 학제 <> '총계' and 설립 = '총계'", con=conn_ora)
print("(6) 학제 별 재학생수(지역/설립 집계 레벨)")
result_df  # 결과보기

(6) 학제 별 재학생수(지역/설립 집계 레벨)

           학제     재학생수
0         대학교  1520850
1        교육대학    15525
2        기능대학    17981
3        기술대학      112
4        산업대학    30344
5        전공대학     8562
6        전문대학   468590
7       대학원대학     8081
8      방송통신대학   134469
9    각종대학(대학)     2962
10   각종대학(전문)        9
11   사내대학(대학)      257
12   사내대학(전문)      371
13   원격대학(대학)      850
14   원격대학(전문)     2009
15    대학부설대학원   280794
16  사이버대학(대학)    94658
17  사이버대학(전문)     5128

In [13]:
# (7) 설립 별 재학생수(지역/학제 집계 레벨)
result_df = pd.read_sql("select 설립, 재학생수 \
                     from v_base4_1 \
                     where 지역 = '총계' and 학제 = '총계' and 설립 <> '총계'", con=conn_ora)
print("(7) 설립 별 재학생수(지역/학제 집계 레벨)")
result_df  # 결과보기

(7) 설립 별 재학생수(지역/학제 집계 레벨)

      설립     재학생수
0     공립    19438
1     국립   532595
2     기타     1076
3     사립  1974947
4  국립대법인    46851
5  특별법국립     3325
6  특별법법인    13320

In [14]:
# (8) 총 재학생수 (지역/학제/설립 집계 레벨)
result_df = pd.read_sql("select 재학생수 \
                     from v_base4_1 \
                     where 지역 = '총계' and 학제 = '총계' and 설립 = '총계'", con=conn_ora)
print("(8) 총 재학생수 (지역/학제/설립 집계 레벨)")
result_df  # 결과보기

(8) 총 재학생수 (지역/학제/설립 집계 레벨)

      재학생수
0  2591552